body {
    background: linear-gradient(90deg, #a6ff00, #ffc400);
    text-align: center;
}
h1 {
    font-size: 14em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1:hover{
    color: rgba(0, 255, 234, 0.5);
}