body {
    background: linear-gradient(90deg, #a6ff00, #ffc400);
    text-align: center;
}
h1 {
    font-size: 14em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 800ms;
}
h1:hover{
    transform: scale(1.15);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.github, .discord, .mail {
    transition: transform 400ms;
}
.github:hover, .discord:hover, .mail:hover{
    transform: scale(1.15);
}